src/partials/discount/1-main.pug
section
  .container.nav-wrapper
    include ../order-account/3-nav
.block_tabs
  .nav-tabs.inline-layout
    .container
      .item-tab.active(data-tab="tab1") Постоянным клиентам
      .item-tab(data-tab="tab2") Реферальная программа
  .tab-wrap
    .tab-content.active.animated#tab1
      .cumulative
        //- .bg-texture
        //-   img(src='img/bg/bg-texture.png')
        .container
          h1 Кешбэк для постоянных клиентов!
          p.subheader Получай накопительный бонус с каждого заказа. Чем больше общая сумма заказов, тем выше бонус. Бонусный счёт можно использовать для оплаты заказов.
        ul.cumulative-list.circle-list
          li.first
            .percent.first Бонус от заказа
            .amount.first Общая сумма заказов
          li
            .percent 3%
            .circle.active
            .amount 1000 грн
          li
            .percent 5%
            .circle
            .amount 3000 грн
          li
            .percent 8%
            .circle
            .amount 6000 грн
          li
            .percent 12%
            .circle
            .amount 10000 грн
      .container.bonus-container
        .discount-info-wrapper
          .left-part
            .span-wrapper
              span.name Заказано на сумму:
              span.value 1600 грн
            .span-wrapper
              span.name До следующего уровня:
              span.value 1400 грн
            .span-wrapper
              span.name Всего начислено бонусов:
              span.value 140 грн
          .right-part
            .bonus-rectangle.three
              .bonus Бонус
              .value 3%
      .discount-history.container
        h3 История начисления бонусов
        .discount-history__wrapper
          ul
            li
              .name На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>67</span> грн</span>
              .value 27.12.2018
            li
              .name На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>27</span> грн</span>
              .value 25.12.2018
            li
              .name.return С бонусного счёта была списана сумма по причине возврата средств по заказу <span class="normal">№123232</span> в размере <span><span>100</span> грн</span>
              .value 27.12.2018
            li
              .name На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>14</span> грн</span>
              .value 13.11.2018
            li
              .name На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>122</span> грн</span>
              .value 12.11.2018
            li
              .name На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>10</span> грн</span>
              .value 03.08.2018
            li
              .name На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>67</span> грн</span>
              .value 27.12.2018
            li
              .name На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>27</span> грн</span>
              .value 25.12.2018
            li
              .name На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>14</span> грн</span>
              .value 13.11.2018
            li
              .name На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>122</span> грн</span>
              .value 12.11.2018
            li
              .name На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>10</span> грн</span>
              .value 03.08.2018

    .tab-content.animated#tab2
      .cumulative.second-tab
        .bg-texture
          img(src='img/discount-3.png')
        .container
          h1 Зарабатывай вместе с "Зачёт!”
          .text
            p Рекомендуй нас друзьям<br> и зарабатывай до 600 грн с их первого заказа.
      .refer-info-wrapper
        .container
          //-.hide1
          .left-part
            h6 Пригласи друга по ссылке
            p.text твой друг получит 15% Кешбэк с первого заказа
            form.new-form-style
              input(type="text").custom-combobox-input.backgraundNone
              .buttons-wrapper
                button.coppy-link Скопировать ссылку
                .btn-share-wrapper
                  //- button(type="submit").btn-primary#share-btn Поделиться
                  //- .btns-share-wrapper.hide
                  //-   a(href="#").btn.vk
                  //-     <svg width="21" height="13" viewBox="0 0 21 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.8932 8.04303C18.5732 8.70694 19.2909 9.33159 19.9008 10.0625C20.1702 10.3872 20.4253 10.7224 20.6204 11.0993C20.8969 11.6351 20.6465 12.2247 20.166 12.2567L17.1796 12.2554C16.4093 12.3193 15.7948 12.0092 15.2781 11.4826C14.8646 11.0614 14.4817 10.6131 14.0841 10.1778C13.9211 9.99981 13.7505 9.83237 13.5467 9.70002C13.139 9.43538 12.7851 9.51641 12.5522 9.94162C12.3149 10.3741 12.2611 10.853 12.2378 11.335C12.2058 12.0382 11.9932 12.2231 11.2868 12.2553C9.77709 12.3265 8.34433 12.0981 7.01334 11.3365C5.83989 10.6651 4.92993 9.71733 4.13791 8.6443C2.59583 6.5549 1.4149 4.25899 0.353532 1.89875C0.114626 1.36699 0.289343 1.08154 0.876068 1.07144C1.85035 1.05251 2.8245 1.05386 3.79992 1.07009C4.1959 1.07588 4.45805 1.303 4.61094 1.67709C5.13806 2.97319 5.78304 4.20632 6.59264 5.34932C6.80824 5.65363 7.02809 5.95794 7.34115 6.17212C7.68749 6.40928 7.95118 6.33068 8.11411 5.94487C8.2175 5.70024 8.26276 5.43675 8.28607 5.17474C8.36326 4.27334 8.37343 3.37348 8.23804 2.47524C8.15493 1.91465 7.83917 1.55174 7.27979 1.44566C6.99434 1.39157 7.03685 1.28536 7.17506 1.12243C7.41511 0.841424 7.64088 0.666504 8.09094 0.666504H11.4661C11.9975 0.771375 12.1155 1.01008 12.1882 1.54474L12.1911 5.29389C12.1854 5.50087 12.2945 6.11508 12.6673 6.25207C12.9657 6.3496 13.1624 6.1109 13.3414 5.9217C14.1495 5.06401 14.7263 4.05039 15.2416 3.00081C15.4702 2.53929 15.6668 2.06 15.8574 1.58111C15.9986 1.22575 16.2201 1.0509 16.6204 1.05864L19.8688 1.06154C19.9651 1.06154 20.0626 1.06295 20.1559 1.07892C20.7033 1.1722 20.8533 1.40767 20.6842 1.9422C20.4178 2.78083 19.8995 3.4797 19.3928 4.1818C18.851 4.93139 18.2716 5.65531 17.7344 6.40935C17.2408 7.09791 17.28 7.44499 17.8932 8.04303Z" fill="white"/></svg>
                  //-   a(href="#").btn.fb
                  //-     <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.7011 0.887566L8.04275 0.883301C5.05613 0.883301 3.12606 2.8635 3.12606 5.92838V8.2545H0.453163C0.222193 8.2545 0.0351562 8.44175 0.0351562 8.67272V12.043C0.0351562 12.274 0.222406 12.461 0.453163 12.461H3.12606V20.9653C3.12606 21.1963 3.31309 21.3833 3.54406 21.3833H7.03143C7.2624 21.3833 7.44943 21.1961 7.44943 20.9653V12.461H10.5747C10.8056 12.461 10.9927 12.274 10.9927 12.043L10.994 8.67272C10.994 8.56182 10.9498 8.45561 10.8715 8.37713C10.7933 8.29864 10.6866 8.2545 10.5757 8.2545H7.44943V6.28262C7.44943 5.33485 7.67528 4.85372 8.90989 4.85372L10.7007 4.85308C10.9315 4.85308 11.1185 4.66583 11.1185 4.43507V1.30557C11.1185 1.07503 10.9317 0.887993 10.7011 0.887566Z" fill="white"/></svg>
                  //-   a(href="#").btn.tgm
                  //-     <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.18262 11.0564L7.7323 17.4301L11.0516 14.1108L16.7428 18.6343L20.75 0.616699L0.25 9.15565L5.18262 11.0564ZM14.8921 5.78612L8.61738 11.5094L7.83584 14.4549L6.39209 10.8448L14.8921 5.78612Z" fill="white"/></svg>
                  a(href="#" target="_blank")
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 0C6.71601 0 0 6.7157 0 15C0 23.2843 6.71601 30 15 30C23.284 30 30 23.2843 30 15C30 6.7157 23.284 0 15 0ZM22.6088 16.6223C23.3079 17.3052 24.0476 17.9478 24.6752 18.7013C24.9532 19.0346 25.2153 19.3792 25.4148 19.7669C25.6996 20.3196 25.4425 20.9257 24.9477 20.9586L21.8747 20.958C21.081 21.0236 20.4494 20.7035 19.9169 20.1609C19.4919 19.7285 19.0975 19.2666 18.6881 18.8194C18.5208 18.6359 18.3447 18.4631 18.1347 18.3272C17.7158 18.0546 17.3518 18.1381 17.1118 18.5758C16.8672 19.0211 16.8114 19.5146 16.788 20.0102C16.7546 20.7348 16.5361 20.9242 15.809 20.9583C14.2554 21.031 12.7814 20.7953 11.4114 20.0121C10.2028 19.3212 9.26731 18.3462 8.45217 17.2423C6.86486 15.0902 5.64921 12.7283 4.55693 10.2985C4.3111 9.7513 4.49095 9.45852 5.09463 9.44716C6.0976 9.42783 7.10056 9.43028 8.10353 9.44624C8.51171 9.45268 8.78179 9.68624 8.93862 10.0714C9.48061 11.4049 10.1451 12.6737 10.9777 13.8503C11.1996 14.1637 11.4261 14.4761 11.7486 14.6974C12.1047 14.9417 12.376 14.861 12.5438 14.4635C12.6513 14.2109 12.6976 13.9409 12.7209 13.6702C12.8007 12.743 12.8102 11.8162 12.6721 10.8927C12.5862 10.3148 12.2612 9.94158 11.6851 9.83233C11.3917 9.77678 11.4347 9.66813 11.5774 9.50056C11.8251 9.21084 12.0571 9.03161 12.5208 9.03161L15.9928 9.031C16.5401 9.13841 16.6628 9.38394 16.7371 9.93514L16.7402 13.7936C16.7337 14.0069 16.8473 14.6391 17.2303 14.7787C17.5372 14.88 17.7397 14.6339 17.9233 14.4396C18.7559 13.556 19.3492 12.5131 19.8804 11.4338C20.1149 10.9577 20.3171 10.4652 20.5136 9.97166C20.6596 9.60675 20.8868 9.42721 21.2986 9.43335L24.642 9.43734C24.7406 9.43734 24.8406 9.43826 24.9382 9.45514C25.5017 9.55151 25.6561 9.79396 25.4817 10.3436C25.2074 11.2073 24.6743 11.9266 24.1531 12.6479C23.5946 13.4201 22.9989 14.1652 22.4458 14.9408C21.9376 15.6497 21.9778 16.0066 22.6088 16.6223Z" fill="#40297B"/></svg>
                  a(href="#" target="_blank")
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 0C6.72903 0 0 6.72903 0 15C0 23.2704 6.72903 30 15 30C23.2704 30 30 23.2704 30 15C30 6.72903 23.2716 0 15 0ZM18.7304 15.5281H16.29C16.29 19.427 16.29 24.2262 16.29 24.2262H12.6738C12.6738 24.2262 12.6738 19.4735 12.6738 15.5281H10.9548V12.4539H12.6738V10.4654C12.6738 9.04133 13.3505 6.81604 16.3232 6.81604L19.0029 6.82631V9.81048C19.0029 9.81048 17.3745 9.81048 17.0579 9.81048C16.7413 9.81048 16.2912 9.96878 16.2912 10.6479V12.4545H19.0464L18.7304 15.5281Z" fill="#40297B"/></svg>
            h6 Пригласи друга по Email
            form.new-form-style
              input(type="email" placeholder="Введите Email").custom-combobox-input.backgraundNone
              button(type="submit").btn-primary.built-in Отправить
          //-hide
          .left-part.plug.hide
            .plug-wrapper
              p Твоя реферальная ссылка будет доступна после завершения первого заказа
          .right-part
            h6 Получай бонус от суммы заказа твоего друга!
            .table-wrapper
              table
                tr
                  th Твой друг<br> заказал на сумму
                  th Твой бонус
                tr
                  td до 500
                  td 3%
                tr
                  td 501 - 750
                  td 5%
                tr
                  td 751 - 1000
                  td 7%
                tr
                  td больше 1000
                  td 10%
      .referal-statistic-wrapper
        h6 Статистика
        .container
          .values
            .one
              .value 15
              .text Регистраций<br> по ссылке
            .two
              .value 8
              .text Выполнено заказов
            .three
              .value 130<span>грн</span>
              .text Заработано
      .discount-history-2.container
        h3 История реферальной программы
        .discount-history__wrapper-2
          ul
            li
              .name Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>20</span> грн</span>
              .value 27.12.2018
            li
              .name Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>40</span> грн</span>
              .value 25.12.2018
            li
              .name Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>56</span> грн</span>
              .value 13.11.2018
            li
              .name Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>75</span> грн</span>
              .value 12.11.2018
            li
              .name Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>20</span> грн</span>
              .value 03.08.2018
            li
              .name Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>18</span> грн</span>
              .value 27.12.2018
            li
              .name Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>24</span> грн</span>
              .value 25.12.2018
            li
              .name Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>200</span> грн</span>
              .value 13.11.2018
            li
              .name Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>220</span> грн</span>
              .value 12.11.2018
            li
              .name Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>2220</span> грн</span>
              .value 03.08.2018

dist/partials/discount/1-main.html

<section>
  <div class="container nav-wrapper">
    <nav class="cabinet">
      <ul>
        <li class="order-green"><a href="order-account.html">Заказать</a></li>
        <li><a href="cabinet.html">Главная</a></li>
        <li class="orders has-order"><a class="message" href="orders.html"> <span>Мои заказы</span></a></li>
        <li class="active"><a href="discount.html">Заработай</a></li>
        <li><a href="finance.html">Финансы</a></li>
      </ul>
    </nav>
  </div>
</section>
<div class="block_tabs">
  <div class="nav-tabs inline-layout">
    <div class="container">
      <div class="item-tab active" data-tab="tab1">Постоянным клиентам</div>
      <div class="item-tab" data-tab="tab2">Реферальная программа</div>
    </div>
  </div>
  <div class="tab-wrap">
    <div class="tab-content active animated" id="tab1">
      <div class="cumulative">
        <div class="container">
          <h1>Кешбэк для постоянных клиентов!</h1>
          <p class="subheader">Получай накопительный бонус с каждого заказа. Чем больше общая сумма заказов, тем выше бонус. Бонусный счёт можно использовать для оплаты заказов.</p>
        </div>
        <ul class="cumulative-list circle-list">
          <li class="first">
            <div class="percent first">Бонус от заказа</div>
            <div class="amount first">Общая сумма заказов</div>
          </li>
          <li>
            <div class="percent">3%</div>
            <div class="circle active"></div>
            <div class="amount">1000 грн</div>
          </li>
          <li>
            <div class="percent">5%</div>
            <div class="circle"></div>
            <div class="amount">3000 грн</div>
          </li>
          <li>
            <div class="percent">8%</div>
            <div class="circle"></div>
            <div class="amount">6000 грн</div>
          </li>
          <li>
            <div class="percent">12%</div>
            <div class="circle"></div>
            <div class="amount">10000 грн</div>
          </li>
        </ul>
      </div>
      <div class="container bonus-container">
        <div class="discount-info-wrapper">
          <div class="left-part">
            <div class="span-wrapper"><span class="name">Заказано на сумму:</span><span class="value">1600 грн</span></div>
            <div class="span-wrapper"><span class="name">До следующего уровня:</span><span class="value">1400 грн</span></div>
            <div class="span-wrapper"><span class="name">Всего начислено бонусов:</span><span class="value">140 грн</span></div>
          </div>
          <div class="right-part">
            <div class="bonus-rectangle three">
              <div class="bonus">Бонус</div>
              <div class="value">3%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="discount-history container">
        <h3>История начисления бонусов</h3>
        <div class="discount-history__wrapper">
          <ul>
            <li>
              <div class="name">На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>67</span> грн</span></div>
              <div class="value">27.12.2018</div>
            </li>
            <li>
              <div class="name">На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>27</span> грн</span></div>
              <div class="value">25.12.2018</div>
            </li>
            <li>
              <div class="name return">С бонусного счёта была списана сумма по причине возврата средств по заказу <span class="normal">№123232</span> в размере <span><span>100</span> грн</span></div>
              <div class="value">27.12.2018</div>
            </li>
            <li>
              <div class="name">На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>14</span> грн</span></div>
              <div class="value">13.11.2018</div>
            </li>
            <li>
              <div class="name">На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>122</span> грн</span></div>
              <div class="value">12.11.2018</div>
            </li>
            <li>
              <div class="name">На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>10</span> грн</span></div>
              <div class="value">03.08.2018</div>
            </li>
            <li>
              <div class="name">На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>67</span> грн</span></div>
              <div class="value">27.12.2018</div>
            </li>
            <li>
              <div class="name">На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>27</span> грн</span></div>
              <div class="value">25.12.2018</div>
            </li>
            <li>
              <div class="name">На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>14</span> грн</span></div>
              <div class="value">13.11.2018</div>
            </li>
            <li>
              <div class="name">На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>122</span> грн</span></div>
              <div class="value">12.11.2018</div>
            </li>
            <li>
              <div class="name">На Ваш бонусный счет была зачислена сумма за заказ <span class="normal">№1234</span> в размере <span><span>10</span> грн</span></div>
              <div class="value">03.08.2018</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content animated" id="tab2">
      <div class="cumulative second-tab">
        <div class="bg-texture"><img src="img/discount-3.png"/></div>
        <div class="container">
          <h1>Зарабатывай вместе с "Зачёт!”</h1>
          <div class="text">
            <p>Рекомендуй нас друзьям<br> и зарабатывай до 600 грн с их первого заказа.</p>
          </div>
        </div>
      </div>
      <div class="refer-info-wrapper">
        <div class="container">
          <div class="left-part">
            <h6>Пригласи друга по ссылке</h6>
            <p class="text">твой друг получит 15% Кешбэк с первого заказа</p>
            <form class="new-form-style">
              <input class="custom-combobox-input backgraundNone" type="text"/>
              <div class="buttons-wrapper">
                <button class="coppy-link">Скопировать ссылку</button>
                <div class="btn-share-wrapper">
                  <button class="btn-primary" type="submit" id="share-btn">Поделиться</button>
                  <div class="btns-share-wrapper hide"><a class="btn vk" href="#"><svg width="21" height="13" viewBox="0 0 21 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.8932 8.04303C18.5732 8.70694 19.2909 9.33159 19.9008 10.0625C20.1702 10.3872 20.4253 10.7224 20.6204 11.0993C20.8969 11.6351 20.6465 12.2247 20.166 12.2567L17.1796 12.2554C16.4093 12.3193 15.7948 12.0092 15.2781 11.4826C14.8646 11.0614 14.4817 10.6131 14.0841 10.1778C13.9211 9.99981 13.7505 9.83237 13.5467 9.70002C13.139 9.43538 12.7851 9.51641 12.5522 9.94162C12.3149 10.3741 12.2611 10.853 12.2378 11.335C12.2058 12.0382 11.9932 12.2231 11.2868 12.2553C9.77709 12.3265 8.34433 12.0981 7.01334 11.3365C5.83989 10.6651 4.92993 9.71733 4.13791 8.6443C2.59583 6.5549 1.4149 4.25899 0.353532 1.89875C0.114626 1.36699 0.289343 1.08154 0.876068 1.07144C1.85035 1.05251 2.8245 1.05386 3.79992 1.07009C4.1959 1.07588 4.45805 1.303 4.61094 1.67709C5.13806 2.97319 5.78304 4.20632 6.59264 5.34932C6.80824 5.65363 7.02809 5.95794 7.34115 6.17212C7.68749 6.40928 7.95118 6.33068 8.11411 5.94487C8.2175 5.70024 8.26276 5.43675 8.28607 5.17474C8.36326 4.27334 8.37343 3.37348 8.23804 2.47524C8.15493 1.91465 7.83917 1.55174 7.27979 1.44566C6.99434 1.39157 7.03685 1.28536 7.17506 1.12243C7.41511 0.841424 7.64088 0.666504 8.09094 0.666504H11.4661C11.9975 0.771375 12.1155 1.01008 12.1882 1.54474L12.1911 5.29389C12.1854 5.50087 12.2945 6.11508 12.6673 6.25207C12.9657 6.3496 13.1624 6.1109 13.3414 5.9217C14.1495 5.06401 14.7263 4.05039 15.2416 3.00081C15.4702 2.53929 15.6668 2.06 15.8574 1.58111C15.9986 1.22575 16.2201 1.0509 16.6204 1.05864L19.8688 1.06154C19.9651 1.06154 20.0626 1.06295 20.1559 1.07892C20.7033 1.1722 20.8533 1.40767 20.6842 1.9422C20.4178 2.78083 19.8995 3.4797 19.3928 4.1818C18.851 4.93139 18.2716 5.65531 17.7344 6.40935C17.2408 7.09791 17.28 7.44499 17.8932 8.04303Z" fill="white"/></svg></a><a class="btn fb" href="#"><svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.7011 0.887566L8.04275 0.883301C5.05613 0.883301 3.12606 2.8635 3.12606 5.92838V8.2545H0.453163C0.222193 8.2545 0.0351562 8.44175 0.0351562 8.67272V12.043C0.0351562 12.274 0.222406 12.461 0.453163 12.461H3.12606V20.9653C3.12606 21.1963 3.31309 21.3833 3.54406 21.3833H7.03143C7.2624 21.3833 7.44943 21.1961 7.44943 20.9653V12.461H10.5747C10.8056 12.461 10.9927 12.274 10.9927 12.043L10.994 8.67272C10.994 8.56182 10.9498 8.45561 10.8715 8.37713C10.7933 8.29864 10.6866 8.2545 10.5757 8.2545H7.44943V6.28262C7.44943 5.33485 7.67528 4.85372 8.90989 4.85372L10.7007 4.85308C10.9315 4.85308 11.1185 4.66583 11.1185 4.43507V1.30557C11.1185 1.07503 10.9317 0.887993 10.7011 0.887566Z" fill="white"/></svg></a><a class="btn tgm" href="#"><svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.18262 11.0564L7.7323 17.4301L11.0516 14.1108L16.7428 18.6343L20.75 0.616699L0.25 9.15565L5.18262 11.0564ZM14.8921 5.78612L8.61738 11.5094L7.83584 14.4549L6.39209 10.8448L14.8921 5.78612Z" fill="white"/></svg></a></div>
                </div>
              </div>
            </form>
            <h6>Пригласи друга по Email</h6>
            <form class="new-form-style">
              <input class="custom-combobox-input backgraundNone" type="email" placeholder="Введите Email"/>
              <button class="btn-primary built-in" type="submit">Отправить</button>
            </form>
          </div>
          <div class="right-part">
            <h6>Получай бонус от суммы заказа твоего друга!</h6>
            <div class="table-wrapper">
              <table>
                <tr>
                  <th>Твой друг<br> заказал на сумму</th>
                  <th>Твой бонус</th>
                </tr>
                <tr>
                  <td>до 500</td>
                  <td>3%</td>
                </tr>
                <tr>
                  <td>501 - 750</td>
                  <td>5%</td>
                </tr>
                <tr>
                  <td>751 - 1000</td>
                  <td>7%</td>
                </tr>
                <tr>
                  <td>больше 1000</td>
                  <td>10%</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="referal-statistic-wrapper">
        <h6>Статистика</h6>
        <div class="container">
          <div class="values">
            <div class="one">
              <div class="value">15</div>
              <div class="text">Регистраций<br> по ссылке</div>
            </div>
            <div class="two">
              <div class="value">8</div>
              <div class="text">Выполнено заказов</div>
            </div>
            <div class="three">
              <div class="value">130<span>грн</span></div>
              <div class="text">Заработано</div>
            </div>
          </div>
        </div>
      </div>
      <div class="discount-history-2 container">
        <h3>История реферальной программы</h3>
        <div class="discount-history__wrapper-2">
          <ul>
            <li>
              <div class="name">Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>20</span> грн</span></div>
              <div class="value">27.12.2018</div>
            </li>
            <li>
              <div class="name">Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>40</span> грн</span></div>
              <div class="value">25.12.2018</div>
            </li>
            <li>
              <div class="name">Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>56</span> грн</span></div>
              <div class="value">13.11.2018</div>
            </li>
            <li>
              <div class="name">Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>75</span> грн</span></div>
              <div class="value">12.11.2018</div>
            </li>
            <li>
              <div class="name">Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>20</span> грн</span></div>
              <div class="value">03.08.2018</div>
            </li>
            <li>
              <div class="name">Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>18</span> грн</span></div>
              <div class="value">27.12.2018</div>
            </li>
            <li>
              <div class="name">Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>24</span> грн</span></div>
              <div class="value">25.12.2018</div>
            </li>
            <li>
              <div class="name">Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>200</span> грн</span></div>
              <div class="value">13.11.2018</div>
            </li>
            <li>
              <div class="name">Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>220</span> грн</span></div>
              <div class="value">12.11.2018</div>
            </li>
            <li>
              <div class="name">Петров Петр Петрович, заказал роботу. Ваш бонус: <span><span>2220</span> грн</span></div>
              <div class="value">03.08.2018</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
