dist/partials/faq/1-main.html

<section class="faq-section">
  <div class="container nav-wrapper">
    <nav class="cabinet">
      <ul>
        <li class="order-green"><a href="order-account.html">Заказать</a></li>
        <li><a href="cabinet.html">Главная</a></li>
        <li class="orders has-order"><a class="message" href="orders.html"> <span>Мои заказы</span></a></li>
        <li class="active"><a href="discount.html">Заработай</a></li>
        <li><a href="finance.html">Финансы</a></li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <div class="faq-wrapper">
      <div class="faq-wrapper__header-wrapper">
        <button class="active" data-num="one">Как пользоваться Личным кабинетом</button>
        <button data-num="two">Как происходит работа над заказами</button>
        <button data-num="three">Вопросы по работе в Личному кабинету</button>
      </div>
      <div class="faq-wrapper__content-wrapper">
        <div class="faq-variant" id="one">
          <h3>Как перейти в детали заказа?</h3>
          <div class="faq-variant__p-wrapper">
            <p>На странице с обновлениями (раздел «Главная), либо в разделе «Мои заказы» найдите соответствующий заказ и кликните по его названию.</p>
          </div>
          <h3>Как оплатить работу?</h3>
          <div class="faq-variant__p-wrapper">
            <p>Вы можете оплатить заказ следующими способами:</p>
            <ul>
              <li>- В Ленте обновлений (раздел «Главная») найдите нужный заказ и нажмите «оплатить»</li>
              <li>- Справа от Ленты обновлений в статистике по заказам перейдите на вкладку «Ожидает оплаты», выберите нужный заказ и нажмите «Оплатить»</li>
              <li>- В главном меню слева выберите раздел «Мои заказы», далее перейдите на вкладку «Ожидает оплаты», выберите нужный заказ и нажмите «Оплатить»</li>
            </ul>
            <p>После нажатия кнопки «Оплатить», Вам будет предложено несколько вариантов оплаты с подробной инструкцией по совершению платежа.</p>
          </div>
          <h3>Как перейти в детали заказа?</h3>
          <div class="faq-variant__p-wrapper">
            <p>Вам нужно перейти на страницу с деталями заказа. Для этого на странице с обновлениями (раздел «Главная), либо в разделе «Мои заказы» найдите заказ, по которому Вы хотите задать вопрос, и кликните по его названию. В появившемся окне введите интересующий вопрос. Как только менеджер ответит на вопрос, на Вашу электронную почту придет уведомление с текстом ответа. Также уведомление будет отображаться в Ленте обновлений (раздел «Главная») в Личном кабинете.</p>
          </div>
          <h3>Как перейти в детали заказа?</h3>
          <div class="faq-variant__p-wrapper">
            <p>Как только Ваш заказ будет готов, Вам приходит уведомление на электронную почту и в Личный кабинет (в Ленту обновлений). Вам необходимо будет внести оставшуюся сумму заказа, после этого работа будет доступна для скачивания в Деталях заказа.</p>
          </div>
          <h3>Как получить готовый заказ? </h3>
          <div class="faq-variant__p-wrapper">
            <p>Готовая работа станет доступной для скачивания в Вашем личном кабинете в Деталях заказа после 100% оплаты, при желании Вы можете приехать в офис (Москва, Санкт-Петербург, Екатеринбург, Нижний Новгород, Казань, Новосибирск) и забрать работу в распечатанном виде (распечатываем бесплатно).</p>
          </div>
        </div>
        <div class="faq-variant" id="two" style="display:none;">
          <h3>Как оплатить работу?</h3>
          <div class="faq-variant__p-wrapper">
            <p>Вы можете оплатить заказ следующими способами:</p>
            <p>- В Ленте обновлений (раздел «Главная») найдите нужный заказ и нажмите «оплатить»</p>
            <p>- Справа от Ленты обновлений в статистике по заказам перейдите на вкладку «Ожидает оплаты», выберите нужный заказ и нажмите «Оплатить»</p>
            <p>- В главном меню слева выберите раздел «Мои заказы», далее перейдите на вкладку «Ожидает оплаты», выберите нужный заказ и нажмите «Оплатить»</p>
            <p>После нажатия кнопки «Оплатить», Вам будет предложено несколько вариантов оплаты с подробной инструкцией по совершению платежа.</p>
          </div>
        </div>
        <div class="faq-variant" id="three" style="display:none;">
          <h3>Как получить готовый заказ? </h3>
          <div class="faq-variant__p-wrapper">
            <p>Готовая работа станет доступной для скачивания в Вашем личном кабинете в Деталях заказа после 100% оплаты, при желании Вы можете приехать в офис (Москва, Санкт-Петербург, Екатеринбург, Нижний Новгород, Казань, Новосибирск) и забрать работу в распечатанном виде (распечатываем бесплатно).</p>
          </div>
          <h3>Как перейти в детали заказа?</h3>
          <div class="faq-variant__p-wrapper">
            <p>Как только Ваш заказ будет готов, Вам приходит уведомление на электронную почту и в Личный кабинет (в Ленту обновлений). Вам необходимо будет внести оставшуюся сумму заказа, после этого работа будет доступна для скачивания в Деталях заказа.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

src/partials/faq/1-main.pug
section.faq-section
  .container.nav-wrapper
    include ../order-account/3-nav
  .container
    .faq-wrapper
      .faq-wrapper__header-wrapper
        button(data-num="one").active Как пользоваться Личным кабинетом
        button(data-num="two") Как происходит работа над заказами
        button(data-num="three") Вопросы по работе в Личному кабинету
      .faq-wrapper__content-wrapper
        #one.faq-variant
          h3 Как перейти в детали заказа?
          .faq-variant__p-wrapper
            p На странице с обновлениями (раздел «Главная), либо в разделе «Мои заказы» найдите соответствующий заказ и кликните по его названию.
          h3 Как оплатить работу?
          .faq-variant__p-wrapper
            p Вы можете оплатить заказ следующими способами:
            ul
              li - В Ленте обновлений (раздел «Главная») найдите нужный заказ и нажмите «оплатить»
              li - Справа от Ленты обновлений в статистике по заказам перейдите на вкладку «Ожидает оплаты», выберите нужный заказ и нажмите «Оплатить»
              li - В главном меню слева выберите раздел «Мои заказы», далее перейдите на вкладку «Ожидает оплаты», выберите нужный заказ и нажмите «Оплатить»
            p После нажатия кнопки «Оплатить», Вам будет предложено несколько вариантов оплаты с подробной инструкцией по совершению платежа.
          h3 Как перейти в детали заказа?
          .faq-variant__p-wrapper
            p Вам нужно перейти на страницу с деталями заказа. Для этого на странице с обновлениями (раздел «Главная), либо в разделе «Мои заказы» найдите заказ, по которому Вы хотите задать вопрос, и кликните по его названию. В появившемся окне введите интересующий вопрос. Как только менеджер ответит на вопрос, на Вашу электронную почту придет уведомление с текстом ответа. Также уведомление будет отображаться в Ленте обновлений (раздел «Главная») в Личном кабинете.
          h3 Как перейти в детали заказа?
          .faq-variant__p-wrapper
            p Как только Ваш заказ будет готов, Вам приходит уведомление на электронную почту и в Личный кабинет (в Ленту обновлений). Вам необходимо будет внести оставшуюся сумму заказа, после этого работа будет доступна для скачивания в Деталях заказа.
          h3 Как получить готовый заказ? 
          .faq-variant__p-wrapper
            p Готовая работа станет доступной для скачивания в Вашем личном кабинете в Деталях заказа после 100% оплаты, при желании Вы можете приехать в офис (Москва, Санкт-Петербург, Екатеринбург, Нижний Новгород, Казань, Новосибирск) и забрать работу в распечатанном виде (распечатываем бесплатно).
        #two.faq-variant(style='display:none')
          h3 Как оплатить работу?
          .faq-variant__p-wrapper
            p Вы можете оплатить заказ следующими способами:
            p - В Ленте обновлений (раздел «Главная») найдите нужный заказ и нажмите «оплатить»
            p - Справа от Ленты обновлений в статистике по заказам перейдите на вкладку «Ожидает оплаты», выберите нужный заказ и нажмите «Оплатить»
            p - В главном меню слева выберите раздел «Мои заказы», далее перейдите на вкладку «Ожидает оплаты», выберите нужный заказ и нажмите «Оплатить»
            p После нажатия кнопки «Оплатить», Вам будет предложено несколько вариантов оплаты с подробной инструкцией по совершению платежа.
        #three.faq-variant(style='display:none')
          h3 Как получить готовый заказ? 
          .faq-variant__p-wrapper
            p Готовая работа станет доступной для скачивания в Вашем личном кабинете в Деталях заказа после 100% оплаты, при желании Вы можете приехать в офис (Москва, Санкт-Петербург, Екатеринбург, Нижний Новгород, Казань, Новосибирск) и забрать работу в распечатанном виде (распечатываем бесплатно).
          h3 Как перейти в детали заказа?
          .faq-variant__p-wrapper
            p Как только Ваш заказ будет готов, Вам приходит уведомление на электронную почту и в Личный кабинет (в Ленту обновлений). Вам необходимо будет внести оставшуюся сумму заказа, после этого работа будет доступна для скачивания в Деталях заказа.
