src/partials/order-account/1-slider.pug
.slider-cabinet.new-cabinet
  ul.owl-carousel.owl-theme.order-slider
    li.item-slider
      .icon
        img(src='img/icon-slide.png')
      .content
        h2 День знаний!
        .text
          p Получи много знаний, и очень много тоже получи
    li.item-slider
      .icon
        img(src='img/icon-slide.png')
      .content
        h2 День знаний!
        .text
          p Получи много знаний, и очень много тоже получи
    li.item-slider
      .icon
        img(src='img/icon-slide.png')
      .content
        h2 День знаний!
        .text
          p Получи много знаний, и очень много тоже получи

dist/partials/order-account/1-slider.html

<div class="slider-cabinet new-cabinet">
  <ul class="owl-carousel owl-theme order-slider">
    <li class="item-slider">
      <div class="icon"><img src="img/icon-slide.png"/></div>
      <div class="content">
        <h2>День знаний!</h2>
        <div class="text">
          <p>Получи ничего, и ничего тоже получи</p>
        </div>
      </div>
    </li>
    <li class="item-slider">
      <div class="icon"><img src="img/icon-slide.png"/></div>
      <div class="content">
        <h2>День знаний!</h2>
        <div class="text">
          <p>Получи ничего, и ничего тоже получи</p>
        </div>
      </div>
    </li>
    <li class="item-slider">
      <div class="icon"><img src="img/icon-slide.png"/></div>
      <div class="content">
        <h2>День знаний!</h2>
        <div class="text">
          <p>Получи ничего, и ничего тоже получи</p>
        </div>
      </div>
    </li>
  </ul>
</div>
