src/partials/order-account/order-account.pug
section.make
  .container.nav-wrapper
    include 3-nav
  .container
    form()#cabinet-form.cabinet-form.new-form-style
      #tabs
        .tabContent-1.tabContent
          h4 Для оформления заказа заполните пустые поля:
          .form-first
            select#combobox3.form-first-item
              option(value="")
              option(value="КПИ") КПИ
              option(value="Могилянка") Могилянка
              option(value="НУХТ") НУХТ
            .form-second-block
              select#combobox4.form-second-item.form-second-item-big
                option(value="")
                option(value="Економический") Економический
                option(value="Механический") Механический
                option(value="ФЕиТ") ФЕиТ
              select#combobox5.form-second-item.form-second-item-little
                option(value="")
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
                option(value="6") 6
              //- select#comboboxHide
              //-   option(value="22222") 222222
              //-   option(value="22223") 222223
            select.form-first-item.combobox1#typeOfWork(name="typeOfWork")
              option
              option(value="Реферат") Реферат
              option(value="Экзамен") Экзамен
              option(value="Курсовая работа") Курсовая работа
              option(value="Лабораторная") Лабораторная
              option(value="Диплом") Диплом
            select#combobox2.form-first-item.typeAll(onclick="$(this).autocomplete('enable');")
              option
              option(value="Информатика") Информатика
              option(value="Геометрия") Геометрия
              option(value="Тригонометрия") Тригонометрия
              option(value="Высшая математика") Высшая математика
            #part-type-form
              .type-one-wrapper
                input(type="text" class="form-first-item" placeholder="Тема*" id="theme" required='' name="theme").typeOne
                input(type="text" class="form-first-item" data-timepicker="true" placeholder="Срок сдачи*" readonly="true" name="datepicker" id='timepicker-actions-with-time').typeOne
              .type-two-wrapper
                input(type="text" class="form-first-item" placeholder="Количество заданий*" name="quantity").typeTwo
                input(type="text" class="form-first-item" placeholder="Дата сдачи*" readonly="true" name="datepicker" id='timepicker-actions-without-time').typeTwo
                .form-second-list.time-chose.typeTwo
                  input(type="time" class="form-first-item form-second-item" id="time" placeholder="Время начала*" name="startTime" required="required")
                  input(type="time" class="form-first-item form-second-item" id="time2" placeholder="Время окончания*" name="stopTime" required="required")
            textarea(type="text" rows="1" class="form-first-item" id="textArea" placeholder="Требования/Комментарий").typeAll
            .button_add.typeAll
              label(for="file")
                svg(width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M8.83248 8.47441C9.09295 8.21395 9.09295 7.79069 8.83248 7.53023C8.57202 7.26976 8.14876 7.26976 7.8883 7.53023L4.35574 11.0628C3.75341 11.6651 3.42783 12.4465 3.42783 13.293C3.42783 14.1395 3.75341 14.9209 4.35574 15.5232C5.59295 16.7605 7.59527 16.7605 8.8162 15.5232L16.7929 7.54651C17.6232 6.71627 18.079 5.6093 18.079 4.4372C18.079 3.26511 17.6232 2.15813 16.7929 1.3279C15.0674 -0.397681 12.2836 -0.397681 10.5581 1.3279L2.5976 9.28837C1.52318 10.3628 0.937134 11.7791 0.937134 13.293C0.937134 14.807 1.52318 16.2395 2.5976 17.2977C3.67202 18.3721 5.0883 18.9581 6.60225 18.9581C8.1162 18.9581 9.54876 18.3721 10.6069 17.2977L14.1395 13.7651C14.3999 13.5046 14.3999 13.0814 14.1395 12.8209C13.879 12.5605 13.4557 12.5605 13.1953 12.8209L9.66271 16.3535C8.84876 17.1674 7.75806 17.6233 6.60225 17.6233C5.44644 17.6233 4.35574 17.1674 3.54178 16.3535C2.72783 15.5395 2.27202 14.4488 2.27202 13.293C2.27202 12.1372 2.72783 11.0465 3.54178 10.2326L11.5022 2.27209C12.0883 1.68604 12.8534 1.37674 13.6674 1.37674C14.4813 1.37674 15.2627 1.70232 15.8325 2.27209C16.4185 2.85813 16.7278 3.62325 16.7278 4.4372C16.7278 5.25116 16.4022 6.03255 15.8325 6.60232L7.85574 14.5791C7.15574 15.2791 5.99992 15.2791 5.28365 14.5791C4.94178 14.2372 4.74644 13.7814 4.74644 13.293C4.74644 12.8046 4.94178 12.3488 5.28365 12.007L8.83248 8.47441Z" fill="#40297B")
                #add_cont(type="file") Прикрепить документ<br>(методичка, требования, условие и т.д)
            input(type="file" multiple class="disNone" id="file").hide
            .files-inputed.typeAll
            
            input(type="text" class="form-first-item" placeholder="Промокод" id="promo")
          button.button_add_order(type="submit") Оценить

dist/order-account.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Зачёт</title><!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-125413338-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-125413338-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="apple-touch-icons" sizes="180x180" href="img/icons/favicons/apple-touch-icons.png">
    <link rel="icon" type="image/png" href="img/icons/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/icons/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/icons/favicons/manifest.json">
    <link rel="mask-icons" href="img/icons/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="img/icons/favicons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <!-- open graph-->
    <meta property="og:type" content="website">
    <meta property="og:title" content="---">
    <meta property="og:description" content="---">
    <meta property="og:image" content="---">
    <meta property="og:url" content="---">
    <meta name="twitter:image" content="---">
    <meta name="twitter:title" content="---">
    <meta name="twitter:url" content="---">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="---">
    <link rel="stylesheet" href="external/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="external/owl.carousel/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="external/owl.carousel/dist/assets/owl.theme.default.css">
    <link rel="stylesheet" href="external/datetimepicker/build/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="external/jquery-bar-rating/dist/themes/fontawesome-stars.css">
    <link rel="stylesheet" href="external/jquery-nice-select/css/nice-select.css">
    <link rel="stylesheet" href="external/animate/animate.css">
    <link rel="stylesheet" href="external/Vertical-Carousel/css/jQuery.verticalCarousel.css">
    <link rel="stylesheet" href="css/datepicker.min.css">
    <link rel="stylesheet" href="external/autocomplite/jquery-ui.css">
    <link rel="stylesheet" href="css/build.min.css">
  </head>
  <body>
    <noscript>
      <h2>Your browser does not support JavaScript!</h2>
    </noscript>
    <header class="new-header new-cabinet">
      <div class="container header">
        <div class="logo"><a href="/">
            <svg width="107" height="23" viewBox="0 0 107 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <style type="text/css">
                .st0 {
                  fill: #04FF9C;
                }
              </style>
              <g>
                <path class="st0" d="M8.04 12.94H9.9C10.65 12.94 11.67 13 12.39 13.6C13.02 14.14 13.08 14.77 13.08 15.16C13.08 16.06 12.78 16.9 12 17.62C11.13 18.43 10.02 18.76 8.61 18.76C7.71 18.76 6.69 18.55 5.76 18.16C4.65 17.68 3.9 16.99 3.57 16.66L0.93 19.63C1.65 20.35 2.55 21.01 3.51 21.46C4.95 22.12 6.42 22.36 8.07 22.36C9.96 22.36 12.42 22.18 14.7 20.65C17.22 18.97 18 16.75 18 15.04C18 13.81 17.61 13 17.19 12.46C16.68 11.8 15.84 11.26 14.82 11.05L14.85 10.96C16.02 10.66 16.89 10.12 17.73 9.1C18.51 8.17 19.14 6.94 19.14 5.2C19.14 4.51 18.96 3.34 17.94 2.32C16.35 0.76 13.44 0.64 12.18 0.64C10.56 0.64 8.79 0.819999 7.11 1.72C4.59 3.1 4.23 5.11 4.23 6.13C4.23 6.46 4.29 6.67 4.29 6.76L8.25 7.15V7.06C8.25 5.95 8.88 5.14 9.57 4.72C10.29 4.3 11.16 4.24 11.64 4.24C12.18 4.24 12.93 4.3 13.47 4.87C13.71 5.14 13.95 5.59 13.95 6.25C13.95 7.03 13.59 7.96 12.93 8.59C12.15 9.34 11.28 9.49 10.47 9.49H8.7L8.04 12.94ZM31.4541 22.36H33.6441L34.0941 18.31L35.9541 8.65C35.1141 8.2 34.0041 7.72 33.0741 7.42C31.9941 7.09 30.6741 6.82 29.6241 6.82C27.6441 6.82 25.8141 7.39 24.4341 8.38C21.8241 10.27 20.5641 13.78 20.5641 16.69C20.5641 18.1 20.8641 19.33 21.4341 20.2C22.3341 21.52 23.9841 22.36 25.9641 22.36C27.3441 22.36 28.5741 21.94 29.4441 21.37C30.0441 20.98 30.5241 20.5 30.6441 20.38L31.4541 22.36ZM30.2841 15.31C30.0741 16.33 29.9241 17.56 28.9641 18.46C28.4841 18.91 27.8541 19.24 26.9841 19.24C26.0841 19.24 25.6341 18.82 25.4241 18.55C25.1241 18.16 25.0341 17.62 25.0341 17.08C25.0341 16.42 25.1841 15.73 25.2741 15.22L25.4841 14.08C25.6941 12.91 25.8741 11.74 27.0441 10.72C27.7641 10.09 28.3941 9.94 29.2041 9.94C29.7141 9.94 30.3741 10.06 31.1841 10.75L30.2841 15.31ZM52.4292 7.18H48.0492L46.8492 13.36C46.0392 13.6 45.2892 13.66 44.6592 13.66C43.6092 13.66 43.1292 13.39 42.9192 13.12C42.7092 12.85 42.6492 12.55 42.6492 12.28C42.6492 12.1 42.6792 11.92 42.7092 11.8L43.6092 7.18H39.2292L38.3292 11.8C38.2692 12.13 38.1492 12.67 38.1492 13.27C38.1492 13.96 38.2992 14.74 38.7792 15.37C39.5592 16.36 41.3292 16.84 42.9792 16.84C43.9092 16.84 45.1392 16.66 46.2492 16.39L45.1692 22H49.5492L52.4292 7.18ZM66.5255 17.98C65.8355 18.34 65.1755 18.61 64.3655 18.85C63.4955 19.12 62.8355 19.21 61.9655 19.21C61.2755 19.21 60.2555 19.06 59.6555 18.58C59.1155 18.13 58.9055 17.47 58.9055 16.66V16.51H59.3855C61.5155 16.51 64.6055 16.12 66.6755 14.65C68.3255 13.45 68.8055 12.07 68.8055 10.96C68.8055 9.76 68.3855 8.62 67.1555 7.78C66.0755 7.03 64.7855 6.82 63.4055 6.82C61.5755 6.82 59.3255 7.24 57.3455 9.13C55.3655 11.02 54.4055 13.9 54.4055 16.51C54.4055 18.34 55.0655 19.51 55.6655 20.26C57.0455 22 59.0555 22.36 60.8855 22.36C62.3855 22.36 63.6155 22.15 64.7555 21.79C65.6855 21.49 66.6455 21.07 67.5455 20.56L66.5255 17.98ZM59.1755 13.84C59.3255 12.52 59.9555 11.23 60.7655 10.45C61.3955 9.85 62.1455 9.58 62.8055 9.58C62.9255 9.58 63.5855 9.61 64.0355 10C64.2755 10.21 64.5455 10.57 64.5455 11.23C64.5455 12.73 63.1655 13.21 62.3255 13.45C60.9755 13.81 59.7455 13.84 59.1755 13.84ZM64.1855 3.28C64.1855 4.51 65.1755 5.5 66.4055 5.5C67.6355 5.5 68.6255 4.51 68.6255 3.28C68.6255 2.05 67.6355 1.06 66.4055 1.06C65.1755 1.06 64.1855 2.05 64.1855 3.28ZM57.5555 3.28C57.5555 4.51 58.5455 5.5 59.7755 5.5C61.0055 5.5 61.9955 4.51 61.9955 3.28C61.9955 2.05 61.0055 1.06 59.7755 1.06C58.5455 1.06 57.5555 2.05 57.5555 3.28ZM75.4896 22L77.6496 10.93C78.3996 10.39 79.1496 9.91 80.0496 9.91C80.7696 9.91 81.1296 10.21 81.2796 10.42C81.4296 10.6 81.5496 10.9 81.5496 11.35C81.5496 11.53 81.5196 11.74 81.4896 11.95L79.5396 22H83.9196L86.0796 10.93C86.8296 10.39 87.5796 9.91 88.4796 9.91C89.1996 9.91 89.5596 10.21 89.7096 10.42C89.8596 10.63 89.9796 10.93 89.9796 11.38C89.9796 11.56 89.9496 11.74 89.9196 11.95L87.9696 22H92.3496L94.2096 12.43C94.2696 12.07 94.3596 11.53 94.3596 10.9C94.3596 9.85 94.0896 8.56 92.9196 7.69C92.0196 7.03 90.6396 6.82 89.5296 6.82C88.6596 6.82 86.9196 7 85.4196 8.47C85.3296 8.32 84.9696 7.81 84.4296 7.45C83.5596 6.88 82.4796 6.82 82.0296 6.82C80.5296 6.82 78.9396 7.3 77.7396 8.2L77.3796 8.47L77.6196 7.18H72.2796L71.6796 10.3H73.3896L71.1096 22H75.4896ZM101.32 0.999999L99.2203 16.51H102.28L106.18 0.999999H101.32ZM101.77 22L102.52 18.1H98.3203L97.5703 22H101.77Z"></path>
              </g>
            </svg></a></div>
        <div class="header__info-wrapper">
          <div class="header__your-balance">Баланс: <span>1429.87 грн.</span></div>
          <div class="header__your-bonus">Бонусы: <span>48.14 грн.</span></div>
          <div class="header__accordion">
            <div class="header__accordion-a">
              Полиграф Шариков<svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 11L0.937823 0.499999L13.0622 0.5L7 11Z" fill="white"/></svg></div>
          </div>
        </div>
        <div class="hamburger-menu hamburger-menu-new">
          <div class="bar"></div>
        </div>
        <div class="mobile-menu-wrapper">
          <div class="mobile-menu-wrapper__header">
            <div class="mobile-menu-wrapper__header-firstcolumn">
              <header>
                <h5>Очень Широкое Имя Тут</h5>
              </header>
              <div class="mobile-menu-wrapper__balanse-wrapper">
                <div class="mobile-menu-wrapper__balance"><span>Баланс:</span><span>429.87 грн.</span></div>
                <div class="mobile-menu-wrapper__bonus"><span>Бонусы:</span><span>48.14 грн.</span></div>
              </div>
            </div>
          </div>
          <div class="mobile-menu-wrapper__main-content-wrappper">
            <nav class="mobile-menu-wrapper__nav">
              <ul>
                <li><a href="order-account.html">Заказать</a></li>
                <li><a href="cabinet.html">Главная</a></li>
                <li><a href="orders.html">Мои заказы</a></li>
                <li><a href="discount.html">Заработай</a></li>
                <li><a href="finance.html">Финансы</a></li>
                <li><a href="reviews.html">Отзывы</a></li>
                <li><a class="active" href="profile.html">Профиль</a></li>
                <li><a href="faq.html">FAQ</a></li>
              </ul>
            </nav>
          </div>
          <form>
            <button class="exit" type="submit">
              <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.9367 8.84817C19.8942 8.74649 19.8333 8.65399 19.7558 8.57649L17.2567 6.07731C16.9308 5.75231 16.4042 5.75231 16.0783 6.07731C15.7525 6.40313 15.7525 6.93063 16.0783 7.25563L17.1558 8.33313H12.5008C12.04 8.33313 11.6675 8.70645 11.6675 9.16645C11.6675 9.62645 12.04 9.99977 12.5008 9.99977H17.1558L16.0783 11.0773C15.7525 11.4031 15.7525 11.9306 16.0783 12.2556C16.2408 12.4189 16.4541 12.4998 16.6675 12.4998C16.8808 12.4998 17.0942 12.419 17.2567 12.2556L19.7558 9.75641C19.8333 9.67973 19.8942 9.58723 19.9367 9.48473C20.0208 9.28149 20.0208 9.05149 19.9367 8.84817Z" fill="white"></path>
                <path d="M14.1671 11.6667C13.7063 11.6667 13.3338 12.04 13.3338 12.5V16.6667H10.0005V3.33332C10.0005 2.96582 9.75881 2.64082 9.40631 2.535L6.51213 1.66668H13.3338V5.83336C13.3338 6.29336 13.7063 6.66668 14.1671 6.66668C14.6279 6.66668 15.0004 6.29336 15.0004 5.83336V0.833359C15.0004 0.37332 14.6279 0 14.1671 0H0.833809C0.803809 0 0.777129 0.0125 0.747988 0.0158203C0.708809 0.02 0.672988 0.0266406 0.635488 0.0358203C0.547988 0.0583203 0.468809 0.0925 0.394668 0.139141C0.376348 0.15082 0.353848 0.151641 0.336348 0.164961C0.329629 0.17 0.327129 0.17918 0.320449 0.18418C0.229629 0.25582 0.153809 0.34332 0.0988086 0.4475C0.0871289 0.47 0.0846289 0.49418 0.0754883 0.5175C0.0488086 0.58082 0.019668 0.6425 0.00966797 0.7125C0.00548828 0.7375 0.0129883 0.76082 0.012168 0.785C0.0113477 0.80168 0.000488281 0.81668 0.000488281 0.83332V17.5C0.000488281 17.8975 0.281309 18.2392 0.670488 18.3167L9.00381 19.9834C9.05799 19.995 9.11299 20 9.16713 20C9.35795 20 9.54545 19.9342 9.69545 19.8109C9.88795 19.6525 10.0004 19.4167 10.0004 19.1667V18.3334H14.1671C14.6279 18.3334 15.0004 17.96 15.0004 17.5V12.5C15.0004 12.04 14.6279 11.6667 14.1671 11.6667Z" fill="white"></path>
              </svg><span class="button-to-exit">Выйти</span>
            </button>
          </form>
        </div>
      </div>
    </header>
    <div class="cabinet-profile-exit">
      <div class="container">
        <div class="cabinet-profile-exit__menu">
          <ul>
            <li><a href="profile.html">Мой профиль</a></li>
            <li><a href="reviews.html">Отзывы</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li>
              <form>
                <button class="exit" type="submit">
                  <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.9367 8.84817C19.8942 8.74649 19.8333 8.65399 19.7558 8.57649L17.2567 6.07731C16.9308 5.75231 16.4042 5.75231 16.0783 6.07731C15.7525 6.40313 15.7525 6.93063 16.0783 7.25563L17.1558 8.33313H12.5008C12.04 8.33313 11.6675 8.70645 11.6675 9.16645C11.6675 9.62645 12.04 9.99977 12.5008 9.99977H17.1558L16.0783 11.0773C15.7525 11.4031 15.7525 11.9306 16.0783 12.2556C16.2408 12.4189 16.4541 12.4998 16.6675 12.4998C16.8808 12.4998 17.0942 12.419 17.2567 12.2556L19.7558 9.75641C19.8333 9.67973 19.8942 9.58723 19.9367 9.48473C20.0208 9.28149 20.0208 9.05149 19.9367 8.84817Z" fill="white"></path>
                    <path d="M14.1671 11.6667C13.7063 11.6667 13.3338 12.04 13.3338 12.5V16.6667H10.0005V3.33332C10.0005 2.96582 9.75881 2.64082 9.40631 2.535L6.51213 1.66668H13.3338V5.83336C13.3338 6.29336 13.7063 6.66668 14.1671 6.66668C14.6279 6.66668 15.0004 6.29336 15.0004 5.83336V0.833359C15.0004 0.37332 14.6279 0 14.1671 0H0.833809C0.803809 0 0.777129 0.0125 0.747988 0.0158203C0.708809 0.02 0.672988 0.0266406 0.635488 0.0358203C0.547988 0.0583203 0.468809 0.0925 0.394668 0.139141C0.376348 0.15082 0.353848 0.151641 0.336348 0.164961C0.329629 0.17 0.327129 0.17918 0.320449 0.18418C0.229629 0.25582 0.153809 0.34332 0.0988086 0.4475C0.0871289 0.47 0.0846289 0.49418 0.0754883 0.5175C0.0488086 0.58082 0.019668 0.6425 0.00966797 0.7125C0.00548828 0.7375 0.0129883 0.76082 0.012168 0.785C0.0113477 0.80168 0.000488281 0.81668 0.000488281 0.83332V17.5C0.000488281 17.8975 0.281309 18.2392 0.670488 18.3167L9.00381 19.9834C9.05799 19.995 9.11299 20 9.16713 20C9.35795 20 9.54545 19.9342 9.69545 19.8109C9.88795 19.6525 10.0004 19.4167 10.0004 19.1667V18.3334H14.1671C14.6279 18.3334 15.0004 17.96 15.0004 17.5V12.5C15.0004 12.04 14.6279 11.6667 14.1671 11.6667Z" fill="white"></path>
                  </svg><span>Выйти</span>
                </button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg-dark display-none"></div>
    <section>
      <div class="slider-cabinet new-cabinet">
        <ul class="owl-carousel owl-theme order-slider">
          <li class="item-slider">
            <div class="icon"><img src="img/icon-slide.png"></div>
            <div class="content">
              <h2>День знаний!</h2>
              <div class="text">
                <p>Получи много знаний, и очень много тоже получи</p>
              </div>
            </div>
          </li>
          <li class="item-slider">
            <div class="icon"><img src="img/icon-slide.png"></div>
            <div class="content">
              <h2>День знаний!</h2>
              <div class="text">
                <p>Получи много знаний, и очень много тоже получи</p>
              </div>
            </div>
          </li>
          <li class="item-slider">
            <div class="icon"><img src="img/icon-slide.png"></div>
            <div class="content">
              <h2>День знаний!</h2>
              <div class="text">
                <p>Получи много знаний, и очень много тоже получи</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <main>
      <section class="make">
        <div class="container nav-wrapper">
          <nav class="cabinet">
            <ul>
              <li class="order-green"><a href="order-account.html">Заказать</a></li>
              <li><a href="cabinet.html">Главная</a></li>
              <li class="orders has-order"><a class="message" href="orders.html"> <span>Мои заказы</span></a></li>
              <li class="active"><a href="discount.html">Заработай</a></li>
              <li><a href="finance.html">Финансы</a></li>
            </ul>
          </nav>
        </div>
        <div class="container">
          <form class="cabinet-form new-form-style" id="cabinet-form">
            <div id="tabs">
              <div class="tabContent-1 tabContent">
                <h4>Для оформления заказа заполните пустые поля:</h4>
                <div class="form-first">
                  <select class="form-first-item" id="combobox3">
                    <option value=""></option>
                    <option value="КПИ">КПИ</option>
                    <option value="Могилянка">Могилянка</option>
                    <option value="НУХТ">НУХТ</option>
                  </select>
                  <div class="form-second-block">
                    <select class="form-second-item form-second-item-big" id="combobox4">
                      <option value=""></option>
                      <option value="Економический">Економический</option>
                      <option value="Механический">Механический</option>
                      <option value="ФЕиТ">ФЕиТ</option>
                    </select>
                    <select class="form-second-item form-second-item-little" id="combobox5">
                      <option value=""></option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                    </select>
                  </div>
                  <select class="form-first-item combobox1" id="typeOfWork" name="typeOfWork">
                    <option></option>
                    <option value="Реферат">Реферат</option>
                    <option value="Экзамен">Экзамен</option>
                    <option value="Курсовая работа">Курсовая работа</option>
                    <option value="Лабораторная">Лабораторная</option>
                    <option value="Диплом">Диплом</option>
                  </select>
                  <select class="form-first-item typeAll" id="combobox2" onclick="$(this).autocomplete('enable');">
                    <option></option>
                    <option value="Информатика">Информатика</option>
                    <option value="Геометрия">Геометрия</option>
                    <option value="Тригонометрия">Тригонометрия</option>
                    <option value="Высшая математика">Высшая математика</option>
                  </select>
                  <div id="part-type-form">
                    <div class="type-one-wrapper">
                      <input class="form-first-item typeOne" type="text" placeholder="Тема*" id="theme" required="" name="theme">
                      <input class="form-first-item typeOne" type="text" data-timepicker="true" placeholder="Срок сдачи*" readonly="true" name="datepicker" id="timepicker-actions-with-time">
                    </div>
                    <div class="type-two-wrapper">
                      <input class="form-first-item typeTwo" type="text" placeholder="Количество заданий*" name="quantity">
                      <input class="form-first-item typeTwo" type="text" placeholder="Дата сдачи*" readonly="true" name="datepicker" id="timepicker-actions-without-time">
                      <div class="form-second-list time-chose typeTwo">
                        <input class="form-first-item form-second-item" type="time" id="time" placeholder="Время начала*" name="startTime" required="required">
                        <input class="form-first-item form-second-item" type="time" id="time2" placeholder="Время окончания*" name="stopTime" required="required">
                      </div>
                    </div>
                  </div>
                  <textarea class="form-first-item typeAll" type="text" rows="1" id="textArea" placeholder="Требования/Комментарий"></textarea>
                  <div class="button_add typeAll">
                    <label for="file">
                      <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.83248 8.47441C9.09295 8.21395 9.09295 7.79069 8.83248 7.53023C8.57202 7.26976 8.14876 7.26976 7.8883 7.53023L4.35574 11.0628C3.75341 11.6651 3.42783 12.4465 3.42783 13.293C3.42783 14.1395 3.75341 14.9209 4.35574 15.5232C5.59295 16.7605 7.59527 16.7605 8.8162 15.5232L16.7929 7.54651C17.6232 6.71627 18.079 5.6093 18.079 4.4372C18.079 3.26511 17.6232 2.15813 16.7929 1.3279C15.0674 -0.397681 12.2836 -0.397681 10.5581 1.3279L2.5976 9.28837C1.52318 10.3628 0.937134 11.7791 0.937134 13.293C0.937134 14.807 1.52318 16.2395 2.5976 17.2977C3.67202 18.3721 5.0883 18.9581 6.60225 18.9581C8.1162 18.9581 9.54876 18.3721 10.6069 17.2977L14.1395 13.7651C14.3999 13.5046 14.3999 13.0814 14.1395 12.8209C13.879 12.5605 13.4557 12.5605 13.1953 12.8209L9.66271 16.3535C8.84876 17.1674 7.75806 17.6233 6.60225 17.6233C5.44644 17.6233 4.35574 17.1674 3.54178 16.3535C2.72783 15.5395 2.27202 14.4488 2.27202 13.293C2.27202 12.1372 2.72783 11.0465 3.54178 10.2326L11.5022 2.27209C12.0883 1.68604 12.8534 1.37674 13.6674 1.37674C14.4813 1.37674 15.2627 1.70232 15.8325 2.27209C16.4185 2.85813 16.7278 3.62325 16.7278 4.4372C16.7278 5.25116 16.4022 6.03255 15.8325 6.60232L7.85574 14.5791C7.15574 15.2791 5.99992 15.2791 5.28365 14.5791C4.94178 14.2372 4.74644 13.7814 4.74644 13.293C4.74644 12.8046 4.94178 12.3488 5.28365 12.007L8.83248 8.47441Z" fill="#40297B"></path>
                      </svg>
                      <div id="add_cont" type="file">Прикрепить документ<br>(методичка, требования, условие и т.д)</div>
                    </label>
                  </div>
                  <input class="disNone hide" type="file" multiple id="file">
                  <div class="files-inputed typeAll"></div>
                  <input class="form-first-item" type="text" placeholder="Промокод" id="promo">
                </div>
                <button class="button_add_order" type="submit">Оценить</button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>
    <!-- footer-->
    <footer class="footer new-footer">
      <div class="container container_first_order">
        <div class="footer_corp">
          <p>  Компания Зачёт<br>Все права защищены.<br>2011-2018</p>
        </div>
        <div class="about-list">
          <ul>
            <li><a href="#home">Главная</a></li>
            <li><a href="#about">О нас</a></li>
            <li><a href="#home">Личный кабинет</a></li>
          </ul>
        </div>
        <div class="footer_social">
          <h4>Мы в соц.сетях!</h4>
          <ul class="list-item">
            <li><a href="#" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1">
                  <path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 12.484375 0 C 5.59375 0 0 5.59375 0 12.484375 C 0 19.378906 5.59375 24.96875 12.484375 24.96875 C 19.378906 24.96875 24.96875 19.378906 24.96875 12.484375 C 24.96875 5.59375 19.40625 0 12.484375 0 Z M 20.917969 17.535156 L 18.320312 17.535156 C 17.652344 17.59375 17.109375 17.320312 16.65625 16.867188 C 16.292969 16.503906 15.960938 16.113281 15.628906 15.71875 C 15.476562 15.566406 15.328125 15.417969 15.175781 15.296875 C 14.8125 15.054688 14.511719 15.144531 14.296875 15.507812 C 14.085938 15.871094 14.058594 16.292969 14.027344 16.71875 C 13.996094 17.320312 13.816406 17.503906 13.210938 17.535156 C 11.910156 17.59375 10.640625 17.382812 9.492188 16.746094 C 8.464844 16.171875 7.679688 15.328125 6.984375 14.390625 C 5.652344 12.574219 4.625 10.582031 3.6875 8.523438 C 3.476562 8.070312 3.628906 7.800781 4.140625 7.800781 C 4.988281 7.769531 5.835938 7.769531 6.679688 7.800781 C 7.011719 7.800781 7.253906 8.011719 7.375 8.3125 C 7.828125 9.433594 8.402344 10.519531 9.097656 11.515625 C 9.28125 11.789062 9.492188 12.0625 9.765625 12.242188 C 10.066406 12.453125 10.308594 12.394531 10.429688 12.03125 C 10.519531 11.820312 10.550781 11.578125 10.582031 11.367188 C 10.640625 10.582031 10.671875 9.792969 10.550781 9.007812 C 10.488281 8.523438 10.21875 8.191406 9.703125 8.101562 C 9.460938 8.042969 9.492188 7.949219 9.613281 7.828125 C 9.824219 7.585938 10.007812 7.4375 10.398438 7.4375 L 13.332031 7.4375 C 13.785156 7.527344 13.90625 7.738281 13.964844 8.191406 L 13.964844 11.457031 C 13.964844 11.636719 14.058594 12.183594 14.390625 12.304688 C 14.660156 12.394531 14.8125 12.183594 14.964844 12 C 15.660156 11.246094 16.171875 10.367188 16.625 9.460938 C 16.839844 9.070312 16.988281 8.644531 17.171875 8.222656 C 17.292969 7.921875 17.472656 7.769531 17.835938 7.769531 L 20.675781 7.769531 C 20.769531 7.769531 20.859375 7.769531 20.917969 7.800781 C 21.402344 7.890625 21.523438 8.070312 21.371094 8.554688 C 21.128906 9.28125 20.675781 9.886719 20.253906 10.519531 C 19.769531 11.183594 19.285156 11.789062 18.804688 12.453125 C 18.378906 13.058594 18.410156 13.363281 18.953125 13.875 C 19.558594 14.449219 20.164062 14.992188 20.707031 15.628906 C 20.949219 15.902344 21.160156 16.203125 21.34375 16.535156 C 21.554688 16.988281 21.34375 17.503906 20.917969 17.535156 Z M 20.917969 17.535156 "></path>
                </svg></a></li>
            <li><a href="#" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1">
                  <path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 16.585938 8.671875 L 9.84375 12.785156 C 9.597656 12.933594 9.445312 13.265625 9.539062 13.535156 L 10.265625 16.054688 C 10.328125 16.238281 10.570312 16.207031 10.601562 16.027344 L 10.785156 14.644531 C 10.8125 14.375 10.9375 14.136719 11.148438 13.957031 L 16.707031 8.855469 C 16.828125 8.761719 16.707031 8.613281 16.585938 8.671875 Z M 16.585938 8.671875 "></path>
                  <path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 12.515625 0.0898438 C 5.589844 0.0898438 0 5.613281 0 12.453125 C 0 19.265625 5.589844 24.820312 12.515625 24.820312 C 19.410156 24.820312 25.03125 19.296875 25.03125 12.453125 C 25 5.613281 19.410156 0.0898438 12.515625 0.0898438 Z M 19.988281 6.484375 L 17.4375 18.546875 C 17.375 18.816406 17.042969 18.96875 16.796875 18.789062 L 13.335938 16.296875 C 13.121094 16.144531 12.847656 16.144531 12.636719 16.328125 L 10.722656 17.886719 C 10.511719 18.066406 10.175781 17.976562 10.085938 17.707031 L 8.75 13.476562 L 5.316406 12.214844 C 4.953125 12.09375 4.953125 11.585938 5.316406 11.464844 L 19.472656 6.0625 C 19.746094 5.914062 20.046875 6.183594 19.988281 6.484375 Z M 19.988281 6.484375 "></path>
                </svg></a></li>
            <li><a href="#" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1">
                  <path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 12.546875 0.152344 C 5.648438 0.152344 0.0625 5.671875 0.0625 12.453125 C 0.0625 19.265625 5.648438 24.789062 12.546875 24.789062 C 19.441406 24.789062 25.03125 19.265625 25.03125 12.453125 C 25 5.671875 19.410156 0.152344 12.546875 0.152344 Z M 15.644531 12.90625 L 13.609375 12.90625 C 13.609375 16.117188 13.609375 20.046875 13.609375 20.046875 L 10.601562 20.046875 C 10.601562 20.046875 10.601562 16.144531 10.601562 12.90625 L 9.171875 12.90625 L 9.171875 10.382812 L 10.601562 10.382812 L 10.601562 8.761719 C 10.601562 7.59375 11.179688 5.761719 13.640625 5.761719 L 15.855469 5.761719 L 15.855469 8.195312 C 15.855469 8.195312 14.488281 8.195312 14.246094 8.195312 C 13.972656 8.195312 13.609375 8.3125 13.609375 8.882812 L 13.609375 10.355469 L 15.886719 10.355469 Z M 15.644531 12.90625 "></path>
                </svg></a></li>
          </ul>
        </div>
      </div>
    </footer>
    <div class="modal-new" id="inform-modal">
      <div class="modal-content"><svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M8.04504 6.49997L12.68 1.86499C13.1067 1.43833 13.1067 0.746587 12.68 0.319992C12.2534 -0.106664 11.5617 -0.106664 11.135 0.319992L6.49998 4.95504L1.86494 0.319931C1.43828 -0.106725 0.746602 -0.106725 0.319946 0.319931C-0.106649 0.746587 -0.106649 1.43833 0.319946 1.86493L4.95499 6.49991L0.319946 11.135C-0.106649 11.5616 -0.106649 12.2534 0.319946 12.6799C0.746602 13.1066 1.43828 13.1066 1.86494 12.6799L6.49998 8.0449L11.135 12.6799C11.5616 13.1066 12.2534 13.1066 12.68 12.6799C13.1067 12.2533 13.1067 11.5616 12.68 11.135L8.04504 6.49997Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0">
<rect width="13" height="13" fill="white"/>
</clipPath>
</defs>
</svg>
        <h3>Ваш заказ принят!</h3>
        <p>Вы успешно оформили новую заявку!  Специалист уже оценивает Ваш запрос и скоро с Вами свяжемся</p>
      </div>
    </div>
    <script src="external/jquery/dist/jquery.js"></script>
    <script src="external/owl.carousel/dist/owl.carousel.js"></script>
    <script src="external/Vertical-Carousel/js/jQuery.verticalCarousel.js"></script>
    <script src="external/autocomplite/jquery-ui.js"></script>
    <script src="external/air-datepicker/datepicker.min.js"></script>
    <script src="external/time/jquery.maskedinput.js"></script>
    <script src="external/jquery-validation/jquery.validate.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="external/jquery-bar-rating/jquery.barrating.js"></script>
    <script src="external/uploader-1.0.2/js/jquery.dm-uploader.min.js"></script>
    <script src="external/markjs/jquery.mark.min.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>
