dist/partials/cabinet/1-main.html

<section class="cabinet-main-section">
  <div class="container nav-wrapper">
    <nav class="cabinet">
      <ul>
        <li class="order-green"><a href="order-account.html">Заказать</a></li>
        <li><a href="cabinet.html">Главная</a></li>
        <li class="orders has-order"><a class="message" href="orders.html"> <span>Мои заказы</span></a></li>
        <li class="active"><a href="discount.html">Заработай</a></li>
        <li><a href="finance.html">Финансы</a></li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <div class="cabinet-main-wrapper">
      <div class="main-links-wrapper">
        <div class="main-links-wrapper__profile">
          <div class="header-wrapper">
            <div class="icon"><img src="img/icons/cabinet-profile.svg" alt="profile"/></div>
            <div class="header">Мой профиль</div>
            <div class="text">Указывайте только правдивую информацию! Это поможет подобрать самого лучшего автора для вашего заказа</div>
          </div><a class="btn-primary" href="profile.html" title="Редактировать профиль">Редактировать профиль</a>
        </div>
        <div class="main-links-wrapper__faq">
          <div class="header-wrapper">
            <div class="icon"><img src="img/icons/cabinet-faq.svg" alt="faq"/></div>
            <div class="header">FAQ</div>
            <div class="text">Ознакомьтесь с правилами работы в личном кабинете, чтобы работа с нами была еще быстрее и эффективнее.</div>
          </div><a class="btn-primary" href="faq.html" title="Прочитать инструкцию">Прочитать инструкцию</a>
        </div>
        <div class="main-links-wrapper__reviews">
          <div class="header-wrapper">
            <div class="icon"><img src="img/icons/cabinet-reviews.svg" alt="reviews"/></div>
            <div class="header">Отзывы</div>
            <div class="text">Помогите другим студентам узнать о нас! Оцените нашу работу и оставьте отзыв в Facebook</div>
          </div><a class="btn-primary" href="reviews.html" title="Оценить">Оценить</a>
        </div>
      </div>
      <div class="orders-links-wrapper">
        <div class="orders-links-wrapper__last-orders-wrapper">
          <h3>Последние заказы</h3><a class="order-wrapper" href="#" title="order">
            <div class="order-status-wrapper">
              <div class="order"><span>Заказ:</span><span>№1233</span></div>
              <div class="status"><span>Статус:</span><span>В обработке</span></div>
            </div>
            <div class="type-of-work"><span>Тип работы:</span><span>Магистерская робота</span></div>
            <div class="subject"><span>Предмет:</span><span>Астрофизика сверхтвердых терхтвердых</span></div></a><a class="order-wrapper" href="#" title="order">
            <div class="order-status-wrapper">
              <div class="order"><span>Заказ:</span><span>№1233</span></div>
              <div class="status"><span>Статус:</span><span>5656 грн</span></div>
            </div>
            <div class="type-of-work"><span>Тип работы:</span><span>Магистерская робота</span></div>
            <div class="subject"><span>Предмет:</span><span>Астрофизика сверхтвердых сверхтвердых сверх твердых сверхтвердых</span></div></a><a class="order-wrapper" href="#" title="order">
            <div class="order-status-wrapper">
              <div class="order"><span>Заказ:</span><span>№1233</span></div>
              <div class="status"><span>Статус:</span><span>В обработке</span></div>
            </div>
            <div class="type-of-work"><span>Тип работы:</span><span>Магистерская робота Магистерская робота Магистерская робота</span></div>
            <div class="subject"><span>Предмет:</span><span>Астрофизика сверхтвердых терхтвердых</span></div></a>
        </div>
        <div class="orders-links-wrapper__ready-orders-wrapper">
          <h3>Готовые заказы</h3><a class="order-wrapper" href="#" title="order">
            <div class="order-status-wrapper">
              <div class="order"><span>Заказ:</span><span>№1233</span></div>
              <div class="status"><span>Статус:</span><span>5656 грн</span></div>
            </div>
            <div class="type-of-work"><span>Тип работы:</span><span>Магистерская робота</span></div>
            <div class="subject"><span>Предмет:</span><span>Астрофизика сверхтвердых терхтвердых</span></div></a><a class="order-wrapper" href="#" title="order">
            <div class="order-status-wrapper">
              <div class="order"><span>Заказ:</span><span>№1233</span></div>
              <div class="status"><span>Статус:</span><span>В обработке</span></div>
            </div>
            <div class="type-of-work"><span>Тип работы:</span><span>Магистерская робота</span></div>
            <div class="subject"><span>Предмет:</span><span>Астрофизика сверхтвердых терхтвердых</span></div></a><a class="order-wrapper" href="#" title="order">
            <div class="order-status-wrapper">
              <div class="order"><span>Заказ:</span><span>№1233</span></div>
              <div class="status"><span>Статус:</span><span>В обработке</span></div>
            </div>
            <div class="type-of-work"><span>Тип работы:</span><span>Магистерская робота</span></div>
            <div class="subject"><span>Предмет:</span><span>Астрофизика сверхтвердых сверхтвердых сверх твердых сверхтвердых</span></div></a>
        </div>
      </div>
      <div class="profile-activity">
        <h3>Активность профиля</h3>
        <div class="profile-activity__wrapper">
          <ul>
            <li>
              <div class="name">Вам отправили сообщение по Заказу <span>№1234</span> “<span class="normal">Курсовая работа</span>” </div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Заказ <span>№1234</span> “<span class="normal">Индивидуальная работа</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">Индивидуальная</span>”)</div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Заказ <span>№1234</span> “<span class="normal">[ тип работы ]</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">[тип скидки]</span>”)</div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Вам отправили сообщение по Заказу <span>№1222</span> “<span class="normal">Реферат</span>”</div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Вам отправили сообщение по Заказу <span>№1234</span> “<span class="normal">Курсовая работа</span>” </div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Заказ <span>№1234</span> “<span class="normal">Индивидуальная работа</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">Индивидуальная</span>”)</div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Заказ <span>№1234</span> “<span class="normal">[ тип работы ]</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">[тип скидки]</span>”)</div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Вам отправили сообщение по Заказу <span>№1222</span> “<span class="normal">Реферат</span>”</div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Вам отправили сообщение по Заказу <span>№1234</span> “<span class="normal">Курсовая работа</span>” </div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Заказ <span>№1234</span> “<span class="normal">Индивидуальная работа</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">Индивидуальная</span>”)</div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Заказ <span>№1234</span> “<span class="normal">[ тип работы ]</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">[тип скидки]</span>”)</div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Вам отправили сообщение по Заказу <span>№1222</span> “<span class="normal">Реферат</span>”</div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Вам отправили сообщение по Заказу <span>№1234</span> “<span class="normal">Курсовая работа</span>” </div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Заказ <span>№1234</span> “<span class="normal">Индивидуальная работа</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">Индивидуальная</span>”)</div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Заказ <span>№1234</span> “<span class="normal">[ тип работы ]</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">[тип скидки]</span>”)</div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Вам отправили сообщение по Заказу <span>№1222</span> “<span class="normal">Реферат</span>”</div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Вам отправили сообщение по Заказу <span>№1234</span> “<span class="normal">Курсовая работа</span>” </div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Заказ <span>№1234</span> “<span class="normal">Индивидуальная работа</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">Индивидуальная</span>”)</div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Заказ <span>№1234</span> “<span class="normal">[ тип работы ]</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">[тип скидки]</span>”)</div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Вам отправили сообщение по Заказу <span>№1222</span> “<span class="normal">Реферат</span>”</div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Вам отправили сообщение по Заказу <span>№1234</span> “<span class="normal">Курсовая работа</span>” </div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Заказ <span>№1234</span> “<span class="normal">Индивидуальная работа</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">Индивидуальная</span>”)</div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Заказ <span>№1234</span> “<span class="normal">[ тип работы ]</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">[тип скидки]</span>”)</div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
            <li>
              <div class="name">Вам отправили сообщение по Заказу <span>№1222</span> “<span class="normal">Реферат</span>”</div>
              <div class="value">13.01.2019 <span class="normal">18:37</span></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

src/partials/cabinet/1-main.pug
section.cabinet-main-section
  .container.nav-wrapper
    include ../order-account/3-nav
  .container
    .cabinet-main-wrapper
      .main-links-wrapper
        .main-links-wrapper__profile
          .header-wrapper
            .icon
              img(src="img/icons/cabinet-profile.svg", alt="profile")
            .header Мой профиль
            .text Указывайте только правдивую информацию! Это поможет подобрать самого лучшего автора для вашего заказа
          a(href="profile.html", title="Редактировать профиль").btn-primary Редактировать профиль
        .main-links-wrapper__faq
          .header-wrapper
            .icon
              img(src="img/icons/cabinet-faq.svg", alt="faq")
            .header FAQ
            .text Ознакомьтесь с правилами работы в личном кабинете, чтобы работа с нами была еще быстрее и эффективнее.
          a(href="faq.html", title="Прочитать инструкцию").btn-primary Прочитать инструкцию
        .main-links-wrapper__reviews
          .header-wrapper
            .icon
              img(src="img/icons/cabinet-reviews.svg", alt="reviews")
            .header Отзывы
            .text Помогите другим студентам узнать о нас! Оцените нашу работу и оставьте отзыв в Facebook
          a(href="reviews.html", title="Оценить").btn-primary Оценить
      .orders-links-wrapper
        .orders-links-wrapper__last-orders-wrapper
          h3 Последние заказы
          a(href="#", title="order").order-wrapper
            .order-status-wrapper
              .order
                span Заказ:
                span №1233
              .status.in-work
                span Статус:
                span В обработке
            .type-of-work
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых терхтвердых
          a(href="#", title="order").order-wrapper
            .order-status-wrapper
              .order
                span Заказ:
                span №1233
              .status
                span Статус:
                span 5656 грн
            .type-of-work
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых сверхтвердых сверх твердых сверхтвердых
          a(href="#", title="order").order-wrapper
            .order-status-wrapper
              .order
                span Заказ:
                span №1233
              .status.in-work
                span Статус:
                span В обработке
            .type-of-work
              span Тип работы:
              span Магистерская робота Магистерская робота Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых терхтвердых
        .orders-links-wrapper__ready-orders-wrapper
          h3 Готовые заказы
          a(href="#", title="order").order-wrapper
            .order-status-wrapper
              .order
                span Заказ:
                span №1233
              .status
                span Статус:
                span 5656 грн
            .type-of-work
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых терхтвердых
          a(href="#", title="order").order-wrapper
            .order-status-wrapper
              .order
                span Заказ:
                span №1233
              .status.in-work
                span Статус:
                span В обработке
            .type-of-work
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых терхтвердых
          a(href="#", title="order").order-wrapper
            .order-status-wrapper
              .order
                span Заказ:
                span №1233
              .status.in-work
                span Статус:
                span В обработке
            .type-of-work
              span Тип работы:
              span Магистерская робота
            .subject
              span Предмет:
              span Астрофизика сверхтвердых сверхтвердых сверх твердых сверхтвердых
      .profile-activity
        h3 Активность профиля
        .profile-activity__wrapper
          ul
            li
              .name Вам отправили сообщение по Заказу <span>№1234</span> “<span class="normal">Курсовая работа</span>” 
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">Индивидуальная работа</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">Индивидуальная</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">[ тип работы ]</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">[тип скидки]</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1222</span> “<span class="normal">Реферат</span>”
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1234</span> “<span class="normal">Курсовая работа</span>” 
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">Индивидуальная работа</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">Индивидуальная</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">[ тип работы ]</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">[тип скидки]</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1222</span> “<span class="normal">Реферат</span>”
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1234</span> “<span class="normal">Курсовая работа</span>” 
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">Индивидуальная работа</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">Индивидуальная</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">[ тип работы ]</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">[тип скидки]</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1222</span> “<span class="normal">Реферат</span>”
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1234</span> “<span class="normal">Курсовая работа</span>” 
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">Индивидуальная работа</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">Индивидуальная</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">[ тип работы ]</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">[тип скидки]</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1222</span> “<span class="normal">Реферат</span>”
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1234</span> “<span class="normal">Курсовая работа</span>” 
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">Индивидуальная работа</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">Индивидуальная</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">[ тип работы ]</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">[тип скидки]</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1222</span> “<span class="normal">Реферат</span>”
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1234</span> “<span class="normal">Курсовая работа</span>” 
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">Индивидуальная работа</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">Индивидуальная</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Заказ <span>№1234</span> “<span class="normal">[ тип работы ]</span>” оценен. Стоимость - 500 грн. (434 грн. со скидкой “<span class="normal">[тип скидки]</span>”)
              .value 13.01.2019 <span class="normal">18:37</span>
            li
              .name Вам отправили сообщение по Заказу <span>№1222</span> “<span class="normal">Реферат</span>”
              .value 13.01.2019 <span class="normal">18:37</span>
