src/partials/order-2/1-main.pug
section.orders.orders-order-wrapper
  .container.nav-wrapper
    include ../order-account/3-nav
  .container
    a.back(href="orders.html") Назад к заказам
    .order.grey-buttons
      .desc-wrapper
        .desc-header Заказ №78346994
        .desc
          .desc__order-firstcolumn
            div
              span Статус:
              span В обработке
            div
              span ВУЗ:
              span КПІ им. И. Сикорського
            div
              span Факультет:
              span МЭИМ
            div
              span Курс:
              span 4
            div
              span Предмет:
              span Международная экономика
          .desc__order-secondcolumn
            div
              span Дата сдачи:
              span 15.12.18
            div
              span Время:
              span 15:00-18:00
            div
              span Тип работы:
              span Онлайн решение
            div
              span Кол-во заданий:
              span 16
            div
              span Документы:
              span Методичка.док, Методичка.док, Методичка.док
        .desc-footer Требования к работе / Комментарий:
          span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, dolores maxime. Dolor minima sunt maiores id? Fuga, nobis itaque? Esse obcaecati totam perspiciatis. Consequatur, delectus? Quidem odit cupiditate iure minima, laboriosam possimus a vitae velit dolorum. Repudiandae ullam quas quidem aspernatur officiis alias corporis vitae natus laborum. Modi, culpa non! Dignissimos itaque nam placeat at tempora officia esse sunt laboriosam, optio asperiores est voluptas quasi omnis id hic veniam corporis dolores velit enim aspernatur doloremque molestias alias obcaecati? Debitis quaerat blanditiis, voluptas repudiandae illum praesentium qui earum eos, nihil doloribus et explicabo dolorem laboriosam tempora excepturi dolore beatae perspiciatis natus.
          .show-more-wrapper
            span ...
            span.show-more Показать еще
      .price
        .money-button-wrapper
          .price-money
            .old
              span 1700
              span= ' грн'
            .new 1250
              span= ' грн'
          a(href="#").pay Оплатить
        .date-of-order-wrapper
          .date-of-order-name Дата поступления заказа:
          .date-of-order 13.11.18 22:00
      a(href="#").pay.small-pay-button Оплатить
    .chat
      .chat__header Чат с менеджером
      .chat__wrapper

dist/partials/order/1-main.html

<section class="orders orders-order-wrapper">
  <div class="container">
    <nav class="cabinet">
      <ul>
        <li class="active"><a href="make-order-new.html">Сделать заказ</a></li>
        <li class="orders"><a class="message" href="orders-new.html"> <span>Мои заказы</span></a></li>
        <li><a href="reviews-new.html">Мой профиль</a></li>
      </ul>
    </nav><a class="back" href="orders.html">Назад к заказам</a>
    <div class="order">
      <div class="desc-wrapper">
        <div class="desc-header">Заказ №78346994</div>
        <div class="desc">
          <div class="desc__order-firstcolumn">
            <div><span>Статус:</span><span>В обработке</span></div>
            <div><span>ВУЗ:</span><span>КПІ им. И. Сикорського</span></div>
            <div><span>Факультет:</span><span>МЭИМ</span></div>
            <div><span>Курс:</span><span>4</span></div>
            <div><span>Предмет:</span><span>Международная экономика</span></div>
          </div>
          <div class="desc__order-secondcolumn">
            <div><span>Дата сдачи:</span><span>15.12.18 18:00</span></div>
            <div><span>Тип работы:</span><span>Магистерская робота</span></div>
            <div><span>Тема работы:</span><span>Ошибки бухгалтерии в эпоху марксизма и Ошибки бухгалтерии в эпоху марксизма</span></div>
            <div><span>Документы:</span><span>Методичка.док, Методичка.док, Методичка.док</span></div>
          </div>
        </div>
        <div class="desc-footer">Требования к работе / Комментарий:<span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, dolores maxime. Dolor minima sunt maiores id? Fuga, nobis itaque? Esse obcaecati totam perspiciatis. Consequatur, delectus? Quidem odit cupiditate iure minima, laboriosam possimus a vitae velit dolorum. Repudiandae ullam quas quidem aspernatur officiis alias corporis vitae natus laborum. Modi, culpa non! Dignissimos itaque nam placeat at tempora officia esse sunt laboriosam, optio asperiores est voluptas quasi omnis id hic veniam corporis dolores velit enim aspernatur doloremque molestias alias obcaecati? Debitis quaerat blanditiis, voluptas repudiandae illum praesentium qui earum eos, nihil doloribus et explicabo dolorem laboriosam tempora excepturi dolore beatae perspiciatis natus.</span></div>
      </div>
      <div class="price">
        <div class="money-button-wrapper">
          <div class="price-money">
            <div class="old"><span>1700</span><span> грн</span></div>
            <div class="new">1250<span> грн</span></div>
          </div>
          <button class="pay">Оплатить</button>
        </div>
        <div class="date-of-order-wrapper">
          <div class="date-of-order-name">Дата поступления заказа:</div>
          <div class="date-of-order">13.11.18 22:00</div>
        </div>
      </div>
    </div>
    <div class="chat">
      <div class="chat__header">Чат с менеджером</div>
      <div class="chat__wrapper"></div>
    </div>
  </div>
</section>
