dist/partials/stub-block.html

<section class="home stub" id="home">
  <div class="bg"><img src="img/bg/bg-top.png"/></div>
  <div class="container">
    <h2>Помощь в написании любых студенческих работ!</h2>
    <div class="text">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
    </div>
    <div class="social" id="social">
      <h4>Оформить заказ через соц сети!</h4>
      <ul class="list-inline">
        <li><a href="#" target="_blank"><img src="img/icons/vk.png"/></a></li>
        <li><a href="#" target="_blank"><img src="img/icons/fb.png"/></a></li>
        <li><a href="#" target="_blank"><img src="img/icons/tl.png"/></a></li>
      </ul>
    </div>
  </div>
</section>

src/partials/stub-block.pug
section.home.stub#home
	.bg
		img(src='img/bg/bg-top.png')
	.container
		h2 Помощь в написании любых студенческих работ!
		.text
			p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.


		.social#social
			h4 Оформить заказ через соц сети!
			ul.list-inline
				li
					a(href="#" target="_blank")
						img(src='img/icons/vk.png')
				li
					a(href="#" target="_blank")
						img(src='img/icons/fb.png')
				li
					a(href="#" target="_blank")
						img(src='img/icons/tl.png')
