dist/partials/work-types-reviews.html

<section class="reviews-list work-type-review" id="reviews">
  <div class="container">
    <ul class="owl-carousel owl-theme" id="reviews-slider">
      <li>
        <div class="star-rating star-right">
          <select class="star-js-read">
            <option value="1" selected="selected" readonly="readonly">1</option>
            <option value="2" readonly="readonly">2</option>
            <option value="3" readonly="readonly">3</option>
            <option value="4" readonly="readonly">4</option>
            <option value="5" readonly="readonly">5</option>
          </select>
          <div class="name">Антоха Головастый1</div>
          <div class="type">Контрольная робота</div>
        </div>
        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequaeniuiullamconsequat.</div>
      </li>
      <!--li
      .star-rating.star-right
        select.star-js-read
          option(value='1' selected readonly) 1
          option(value='2' readonly) 2
          option(value='3' readonly) 3
          option(value='4' readonly) 4
          option(value='5' readonly) 5
      
        .name Антоха Головастый2
        .type Контрольная робота
      .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequaeniuiullamconsequat.
      
      -->
      <!--li
      .star-rating.star-right
        select.star-js-read
          option(value='1' selected readonly) 1
          option(value='2' readonly) 2
          option(value='3' readonly) 3
          option(value='4' readonly) 4
          option(value='5' readonly) 5
      
        .name Антоха Головастый2
        .type Контрольная робота
      .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequaeniuiullamconsequat.
      -->
      <!--li
      .star-rating.star-right
        select.star-js-read
          option(value='1' selected readonly) 1
          option(value='2' readonly) 2
          option(value='3' readonly) 3
          option(value='4' readonly) 4
          option(value='5' readonly) 5
      
        .name Антоха Головастый2
        .type Контрольная робота
      .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequaeniuiullamconsequat.  
      -->
      <!--li
      .star-rating.star-right
        select.star-js-read
          option(value='1' selected readonly) 1
          option(value='2' readonly) 2
          option(value='3' readonly) 3
          option(value='4' readonly) 4
          option(value='5' readonly) 5
      
        .name Антоха Головастый2
        .type Контрольная робота
      .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequaeniuiullamconsequat.  
      -->
    </ul>
  </div>
</section>

src/partials/work-types-reviews.pug
mixin itemReviews()
  li
    .star-rating.star-right
      select.star-js-read
        option(value='1' selected readonly) 1
        option(value='2' readonly) 2
        option(value='3' readonly) 3
        option(value='4' readonly) 4
        option(value='5' readonly) 5

      .name Антоха Головастый
      .type Контрольная робота
    .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequaeniuiullamconsequat.

section.reviews-list.work-type-review#reviews

  .container
    ul.owl-carousel.owl-theme#reviews-slider
      li
        .star-rating.star-right
          select.star-js-read
            option(value='1' selected readonly) 1
            option(value='2' readonly) 2
            option(value='3' readonly) 3
            option(value='4' readonly) 4
            option(value='5' readonly) 5

          .name Антоха Головастый1
          .type Контрольная робота
        .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequaeniuiullamconsequat.

      //li
        .star-rating.star-right
          select.star-js-read
            option(value='1' selected readonly) 1
            option(value='2' readonly) 2
            option(value='3' readonly) 3
            option(value='4' readonly) 4
            option(value='5' readonly) 5

          .name Антоха Головастый2
          .type Контрольная робота
        .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequaeniuiullamconsequat.

      //li
        .star-rating.star-right
          select.star-js-read
            option(value='1' selected readonly) 1
            option(value='2' readonly) 2
            option(value='3' readonly) 3
            option(value='4' readonly) 4
            option(value='5' readonly) 5

          .name Антоха Головастый2
          .type Контрольная робота
        .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequaeniuiullamconsequat.
      //li
        .star-rating.star-right
          select.star-js-read
            option(value='1' selected readonly) 1
            option(value='2' readonly) 2
            option(value='3' readonly) 3
            option(value='4' readonly) 4
            option(value='5' readonly) 5

          .name Антоха Головастый2
          .type Контрольная робота
        .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequaeniuiullamconsequat.  
      //li
        .star-rating.star-right
          select.star-js-read
            option(value='1' selected readonly) 1
            option(value='2' readonly) 2
            option(value='3' readonly) 3
            option(value='4' readonly) 4
            option(value='5' readonly) 5

          .name Антоха Головастый2
          .type Контрольная робота
        .text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequaeniuiullamconsequat.  
