dist/partials/first-order-homework/modals.html

<div class="modal-new orderDoneMail" id="orderDoneMail">
  <div class="modal-content">
    <h3>Вы успешно <br/> оформили заказ!</h3>
    <p>На почту мы выслали вам письмо с подтверждением. После подтверждения заказ пойдет в обработку.</p><a class="btn-primary" href="/">На главную</a>
  </div>
</div>
<div class="preloader-main-wrapper hidden visuallyhidden" id="preloader-main">
  <div class="preloader">
    <div class="circ1"></div>
    <div class="circ2"></div>
    <div class="circ3"></div>
    <div class="circ4"></div>
  </div>
</div>

src/partials/first-order-homework/modals.pug
#orderDoneMail.modal-new.orderDoneMail
  .modal-content
    h3 Вы успешно <br/> оформили заказ!
    p На почту мы выслали вам письмо с подтверждением. После подтверждения заказ пойдет в обработку.
    a(href="/").btn-primary На главную
//- #preloader-main.preloader-main-wrapper
#preloader-main.preloader-main-wrapper.hidden.visuallyhidden
  .preloader
    .circ1.circle
    .circ2.circle
    .circ3.circle
    .circ4.circle
    .percents 10%
