src/partials/password-restore/1-main.pug
section.enter-page-wrapper
  .container
    h1 Востановить пароль
    form.enter-page-form.new-form-style
      p.error.hide Данный номер не подтверждён, введите ваш емейл для восстановления пароля
      input(type="password" placeholder="Ваш Email или номер телефона" required).custom-combobox-input.backgraundNone.error
      .forgot-submit-wrapper
        a(href="#") Назад
        button(type="submit").btn-primary Востановить

dist/partials/enter/1-main.html

<section class="enter-page-wrapper">
  <div class="container">
    <h1>Вход в Личный кабинет</h1>
    <p>Ваш Email уже зарегистрирован. Войдите в свой аккаунт</p>
    <form class="enter-page-form new-form-style">
      <input class="custom-combobox-input backgraundNone" type="text" placeholder="Ваш Email или номер телефона" required="required"/>
      <label class="error hide">Текст ошибки</label>
      <input class="custom-combobox-input backgraundNone" type="password" placeholder="Пароль" required="required"/>
      <label class="error hide">Текст ошибки</label>
      <div class="forgot-submit-wrapper"><a href="#">Восстановить пароль</a>
        <button class="btn-primary" type="submit">Вход</button>
      </div>
    </form>
  </div>
</section>
